name: Release

on:
  release:
    types:
      - created

jobs:
  release:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [darwin, linux]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15

      - name: Get release
        id: release
        uses: bruceadams/get-release@v1.2.2
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Build release binary
        run: |
          GOOS=${{ matrix.goos }} GOARCH=amd64 make VERSION=${{ steps.release.outputs.tag_name }}
          tar -czvf kiss_${{ steps.release.outputs.tag_name }}_${{ matrix.goos }}_amd64.tar.gz kiss

      - name: Upload Release Asset
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.release.outputs.upload_url }}
          asset_path: ./kiss_${{ steps.release.outputs.tag_name }}_${{ matrix.goos }}_amd64.tar.gz
          asset_name: kiss_${{ steps.release.outputs.tag_name }}_${{ matrix.goos }}_amd64.tar.gz
          asset_content_type: application/zip
